<launch>

    <arg name="run_rviz"                default="false"/>
    <arg name="run_slam"                default="true"/>
    <arg name="run_reconfigure"         default="false"/>
    <arg name="run_image_view"          default="true"/>
    <arg name="record_bag"              default="true"/>
    <arg name="bag_name"                default="false"/>

    <arg name="bagfile_path_A" default="/home.local/local-arwillis/NetBeansProjects/ROS_DVO_SLAM/ros_ws/rgbd-slam_2019-11-21-15-32-27.bag"/>
    <arg name="bagfile_path_B" default="/tmp/rgbd-slam_2019-11-26-13-35-07.bag"/>
    <arg name="bagfile_path_C" default="/home.md1/server/bagfiles/rgbd_dataset_freiburg1_room_validation.bag"/>
    <arg name="bagfile_path_D" default="/media/prashant/Samsung_T5/ion_bag_files/20200110_001_bag_filtered.bag"/>
    <arg name="bagfile_path_E" default="/media/prashant/Samsung_T5/ion_bag_files/20200113_001.bag"/>
    <arg name="bagfile_path_F" default="/media/prashant/Samsung_T5/ion_bag_files/20200114_001.bag"/>
    <arg name="bagfile_path_G" default="/home/prashant/Downloads/rgbd_dataset_freiburg2_pioneer_360.bag"/>
    <arg name="bagfile_path_H" default="/media/prashant/Samsung_T5/ion_bag_files/20200117_001.bag"/>
    <arg name="bagfile_path_I" default="/media/prashant/Samsung_T5/ion_bag_files/20200124_006.bag"/>
    <arg name="bagfile_path" default="$(arg bagfile_path_G)"/>
    <arg name="bagfile_playback_rate" default="0.8"/>
    <!--    <arg name="bagfile_playback_rate" default="0.02"/>-->

    <!-- namespaces -->
    <arg name="camera" default="camera"/>

    <arg name="node_start_delay" default="1.5" />
    <arg name="debug" default="false" />
    <arg name="launch_prefix" value="bash -c 'sleep $(arg node_start_delay); $0 $@' " />


    <group ns="dvo_vis">
        <node launch-prefix="$(arg launch_prefix)" pkg="dvo_ros" type="camera_tracker" name="camera_tracker" output="screen" if="$(arg run_slam)" >
            <remap from="/camera/depth_registered/input_image" to="/camera/depth/image_raw"/>
            <remap from="/camera/depth_registered/camera_info" to="/camera/depth/camera_info"/>
            <remap from="/camera/rgb/input_image" to="/camera/rgb/image_raw"/>
            <remap from="/camera/rgb/camera_info" to="/camera/rgb/camera_info"/>
        </node>
    </group>


    <!-- DYNAMIC RECONFIGURE SECTION -->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" if="$(arg run_reconfigure)"/>

    <param name="use_sim_time" value="true" />
    <node launch-prefix="$(arg launch_prefix)" pkg="rosbag" type="play" name="player" output="log" args=" --rate $(arg bagfile_playback_rate) --clock $(arg bagfile_path)"/>


    <node name="bag_parser" pkg="bag_parser" type="node" output="screen"/>
    <node if="$(arg run_image_view)" name="image_view" pkg="image_view" type="image_view" output="screen">
        <remap from="image" to="camera/rgb/image_raw" />
    </node>


    <node if="$(arg record_bag)" name="record" pkg="rosbag" type="record" args="-O $(arg bag_name) pose_stamped dvo_vis/rgbd/odom dvo_vis/dvo_header"/>

</launch>




